html, body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: o.15em;
    background-image: url('b2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.flex-container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    border: 4px double #000;
    padding: 15px;
  }

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-image: url('b7.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
width: 150px;
margin: 10px auto 10px auto;
float: left;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 3px;
}

p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.7);
}

.container{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
    overflow: hidden;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 9s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }

}

img{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
}

.image-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: auto; 
    animation: slide 9s infinite;
}


a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
    font-size: larger;
}

a:hover, a.on{
    color: black;
    background-color: #C29453;
}
